<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>DataFetcher</display-name>
  <welcome-file-list>
    <welcome-file>discussionList</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>startup</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.StartupServlet</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>log4j.lcf</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DiscussionList</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.controllers.DiscussionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscussionList</servlet-name>
    <url-pattern>/discussionList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiscussionDetails</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.controllers.DiscussionDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscussionDetails</servlet-name>
    <url-pattern>/discussion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateDiscussion</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.controllers.CreateDiscussionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDiscussion</servlet-name>
    <url-pattern>/createDiscussion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FetchDiscussion</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.controllers.async.FetchingProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchDiscussion</servlet-name>
    <url-pattern>/fetchDiscussion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Classification</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.controllers.ClassificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classification</servlet-name>
    <url-pattern>/classification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BulkFetch</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.controllers.BulkFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BulkFetch</servlet-name>
    <url-pattern>/bulk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Visualize</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.controllers.VisualizeXmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visualize</servlet-name>
    <url-pattern>/visualize</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Citation</servlet-name>
    <servlet-class>lab.eric.datafetcher.web.controllers.VisualizeCitationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Citation</servlet-name>
    <url-pattern>/citation</url-pattern>
  </servlet-mapping>
  
</web-app>